In [ ]:
!pip install -q mimesis
!pip install -q pandas-redshift

     |████████████████████████████████| 2.8MB 5.9MB/s
  Building wheel for mimesis (setup.py) ... done
     |████████████████████████████████| 133kB 4.2MB/s
     |████████████████████████████████| 3.0MB 5.4MB/s
     |████████████████████████████████| 71kB 8.0MB/s
     |████████████████████████████████| 7.2MB 23.2MB/s
     |████████████████████████████████| 143kB 54.1MB/s
ERROR: requests 2.23.0 has requirement urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you'll have urllib3 1.26.2 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.

In [ ]:
from mimesis import Person
from mimesis import Address
from mimesis.enums import Gender
from mimesis import Datetime
import pandas as pd
import random
from mimesis import locales

person = Person('en')
addess = Address(locales.EN_AU)
datetime = Datetime()
def create_rows_mimesis(num=1):
    output = [{"name":person.full_name(gender=Gender.FEMALE),
                   "address":addess.address(),
                   "name":person.name(),
                   "email":person.email(),
                   "blood_type":person.blood_type(),
                   "city":addess.city(),
                   "state":addess.state(),
                   "last_login":datetime.datetime(),
                   "height":person.height(),
                   "weight":person.weight(), 
                   "random_data":random.randint(1000,100000+1000)} for x in range(num)]
    return output

In [ ]:
%%time
df_mimesis = pd.DataFrame(create_rows_mimesis(1000000))

CPU times: user 46.6 s, sys: 4.08 s, total: 50.7 s
Wall time: 50.8 s

In [ ]:
df_mimesis.state = df_mimesis.state.astype('category')
df_mimesis.city = df_mimesis.city.astype('category')
df_mimesis.blood_type = df_mimesis.blood_type.astype('category')
df_mimesis.height = pd.to_numeric(df_mimesis.height, errors='coerce')#df_mimesis.astype({'height': 'float'}).dtypes
df_mimesis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   name         1000000 non-null  object
 1   address      1000000 non-null  object
 2   email        1000000 non-null  object
 3   blood_type   1000000 non-null  category
 4   city         1000000 non-null  category
 5   state        1000000 non-null  category
 6   last_login   1000000 non-null  datetime64[ns]
 7   height       1000000 non-null  float64
 8   weight       1000000 non-null  int64
 9   random_data  1000000 non-null  int64
dtypes: category(3), datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 57.3+ MB

In [ ]:
import pandas_redshift as pr
# 'redshift+psycopg2://awsuser:123qweASD@redshift-cluster-1.cfya6dvlekdt.us-west-2.redshift.amazonaws.com:5439/dev')
pr.connect_to_redshift(dbname = 'dev',
                      #  172.31.17.221, redshift-cluster-1.cfya6dvlekdt.us-west-2.redshift.amazonaws.com
                        host = 'redshift-cluster-1.cfya6dvlekdt.us-west-2.redshift.amazonaws.com',
                        port = '5439',
                        user = 'awsuser',
                        password = '123qweASD')

In [ ]:
# Connect to S3
# https://s3.console.aws.amazon.com/s3/home?region=us-west-2
# https://console.aws.amazon.com/iam/home?region=us-west-2#/security_credentials
pr.connect_to_s3(aws_access_key_id = "AKIAICCVUYSYORXBMLHQ",
                aws_secret_access_key = "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",
                bucket = "boosttagbucket",
                subdirectory = ""
                # As of release 1.1.1 you are able to specify an aws_session_token (if necessary):
                # aws_session_token = <aws_session_token>
                )

In [ ]:
df_mimesis.index.set_names('unique_code',inplace=True)

In [ ]:
df_mimesis.columns

Index(['name', 'address', 'email', 'blood_type', 'city', 'state', 'last_login',
       'height', 'weight', 'random_data'],
      dtype='object')

In [ ]:
df_mimesis.index

RangeIndex(start=0, stop=1000000, step=1, name='unique_code')

In [ ]:
df_mimesis.iloc[[5]]

               name       address  ... weight random_data
unique_code                        ...
5            Dalila  331 De Trail  ...     43       58652

[1 rows x 10 columns]

In [ ]:
df_mimesis = df_mimesis.reset_index()
df_mimesis.iloc[[5]]

   unique_code    name       address  ... height weight random_data
5            5  Dalila  331 De Trail  ...   1.78     43       58652

[1 rows x 11 columns]

In [ ]:
df_citizens = df_mimesis[['unique_code','name','email','last_login']]
df_citizens.iloc[[5]]

   unique_code    name                   email                 last_login
5            5  Dalila  bombloads2068@live.com 2002-12-19 01:34:59.970603

In [ ]:
df_health_care = df_mimesis[['unique_code','blood_type','height','weight']]
df_health_care.iloc[[5]]

   unique_code blood_type  height  weight
5            5         A−    1.78      43

In [ ]:
df_address = df_mimesis[['unique_code','city','address','state','random_data']]
df_address.iloc[[5]]

   unique_code    city       address              state  random_data
5            5  Dayton  331 De Trail  Western Australia        58652

In [ ]:
# pr.core.connect.commit()
pr.core.connect.rollback()
pr.exec_commit('CREATE SCHEMA IF NOT EXISTS au_seventec;')

In [ ]:
pr.pandas_to_redshift(data_frame = df_citizens,
                        redshift_table_name = 'au_seventec.df_citizens')

Pandas Redshift | 2020-12-23 19:03:02,140 | pandas_redshift.core | INFO | saved file au_seventec.df_citizens-7fbbf00a-ff0d-402d-84de-ed8e2b31a247.csv in bucket /au_seventec.df_citizens-7fbbf00a-ff0d-402d-84de-ed8e2b31a247.csv
Pandas Redshift | 2020-12-23 19:03:02,142 | pandas_redshift.core | INFO | create table au_seventec.df_citizens (unique_code BIGINT, name VARCHAR(256), email VARCHAR(256), last_login TIMESTAMP) diststyle even
Pandas Redshift | 2020-12-23 19:03:02,144 | pandas_redshift.core | INFO | CREATING A TABLE IN REDSHIFT
Pandas Redshift | 2020-12-23 19:03:02,611 | pandas_redshift.core | INFO |
    copy au_seventec.df_citizens
    from 's3://boosttagbucket//au_seventec.df_citizens-7fbbf00a-ff0d-402d-84de-ed8e2b31a247.csv'
    delimiter ','
    ignoreheader 1
    csv quote as '"'
    dateformat 'auto'
    timeformat 'auto'

        access_key_id '********'
        secret_access_key '********'


    ;
Pandas Redshift | 2020-12-23 19:03:02,613 | pandas_redshift.core | INFO | FILLING THE TABLE IN REDSHIFT

In [ ]:
pr.pandas_to_redshift(data_frame = df_health_care,
                        redshift_table_name = 'au_seventec.df_health_care')

Pandas Redshift | 2020-12-23 19:03:15,085 | pandas_redshift.core | INFO | saved file au_seventec.df_health_care-3b85e53b-704b-42f0-9067-53f172d4ee1a.csv in bucket /au_seventec.df_health_care-3b85e53b-704b-42f0-9067-53f172d4ee1a.csv
Pandas Redshift | 2020-12-23 19:03:15,091 | pandas_redshift.core | INFO | create table au_seventec.df_health_care (unique_code BIGINT, blood_type VARCHAR(256), height REAL, weight BIGINT) diststyle even
Pandas Redshift | 2020-12-23 19:03:15,093 | pandas_redshift.core | INFO | CREATING A TABLE IN REDSHIFT
Pandas Redshift | 2020-12-23 19:03:15,646 | pandas_redshift.core | INFO |
    copy au_seventec.df_health_care
    from 's3://boosttagbucket//au_seventec.df_health_care-3b85e53b-704b-42f0-9067-53f172d4ee1a.csv'
    delimiter ','
    ignoreheader 1
    csv quote as '"'
    dateformat 'auto'
    timeformat 'auto'

        access_key_id '********'
        secret_access_key '********'


    ;
Pandas Redshift | 2020-12-23 19:03:15,647 | pandas_redshift.core | INFO | FILLING THE TABLE IN REDSHIFT

In [ ]:
pr.pandas_to_redshift(data_frame = df_address,
                        redshift_table_name = 'au_seventec.df_address')

Pandas Redshift | 2020-12-23 19:22:29,092 | pandas_redshift.core | INFO | saved file au_seventec.df_address-6b1d2679-6d25-4ce3-99d7-bdbbe989c34a.csv in bucket /au_seventec.df_address-6b1d2679-6d25-4ce3-99d7-bdbbe989c34a.csv
Pandas Redshift | 2020-12-23 19:22:29,094 | pandas_redshift.core | INFO | create table au_seventec.df_address (unique_code BIGINT, city VARCHAR(256), address VARCHAR(256), state VARCHAR(256), random_data BIGINT) diststyle even
Pandas Redshift | 2020-12-23 19:22:29,095 | pandas_redshift.core | INFO | CREATING A TABLE IN REDSHIFT
Pandas Redshift | 2020-12-23 19:22:29,564 | pandas_redshift.core | INFO |
    copy au_seventec.df_address
    from 's3://boosttagbucket//au_seventec.df_address-6b1d2679-6d25-4ce3-99d7-bdbbe989c34a.csv'
    delimiter ','
    ignoreheader 1
    csv quote as '"'
    dateformat 'auto'
    timeformat 'auto'

        access_key_id '********'
        secret_access_key '********'


    ;
Pandas Redshift | 2020-12-23 19:22:29,565 | pandas_redshift.core | INFO | FILLING THE TABLE IN REDSHIFT

In [ ]:
address = pr.redshift_to_pandas('select * from au_seventec.df_address')
address.sample()

        unique_code    city              address            state  random_data
806989       793199  Norman  726 Judges Turnpike  New South Wales        65093

In [ ]:
address.loc[[5]]

   unique_code   city  ...                         state random_data
5           11  Parma  ...  Australian Capital Territory       38020

[1 rows x 5 columns]

In [ ]:
address = address.set_index('unique_code')

In [ ]:
address.loc[[5]]

               city       address              state  random_data
unique_code
5            Dayton  331 De Trail  Western Australia        58652

In [ ]:
citizens = pr.redshift_to_pandas('select * from au_seventec.df_citizens')
citizens.set_index('unique_code',inplace=True)
health_care = pr.redshift_to_pandas('select * from au_seventec.df_health_care')
health_care.set_index('unique_code',inplace=True)

In [ ]:
df_recovered = citizens.join(address).join(health_care)
df_recovered.loc[[5]]

               name                   email  ... height weight
unique_code                                  ...
5            Dalila  bombloads2068@live.com  ...   1.78     43

[1 rows x 10 columns]

In [ ]:
df_mimesis.loc[[5]].set_index('unique_code')

               name       address  ... weight random_data
unique_code                        ...
5            Dalila  331 De Trail  ...     43       58652

[1 rows x 10 columns]

In [ ]:
df_recovered.loc[[5]].equals(df_mimesis.loc[[5]])

False

In [ ]:
df_recovered.loc[[5]].equals(df_mimesis.loc[[5]].set_index('unique_code'))

False

In [ ]:
df_recovered.state = df_recovered.state.astype('category')
df_recovered.city = df_recovered.city.astype('category')
df_recovered.blood_type = df_recovered.blood_type.astype('category')
df_recovered.height = pd.to_numeric(df_recovered.height, errors='coerce')

In [ ]:
from pandas.util.testing import assert_frame_equal
assert_frame_equal(df_recovered.loc[[5]],df_mimesis.loc[[5]].set_index('unique_code'),check_like=True)

In [ ]:
df_recovered.loc[[5]].eq(df_mimesis.loc[[5]].set_index('unique_code'))

             address  blood_type  city  email  ...  name  random_data  state  weight
unique_code                                    ...
5               True        True  True   True  ...  True         True   True    True

[1 rows x 10 columns]

In [ ]:
assert_frame_equal(df_recovered.loc[[5]].sort_index(1), df_mimesis.loc[[5]].set_index('unique_code').sort_index(1))

In [ ]:
assert_frame_equal(df_recovered,df_mimesis.set_index('unique_code'),check_like=True)

In [ ]:
df_recovered.to_csv('df_recovered.csv')

In [ ]:
!head -n5 df_recovered.csv

unique_code,name,email,last_login,city,address,state,random_data,blood_type,height,weight
1,Ronny,intracutaneously1812@yahoo.com,2001-07-13 22:43:04.749480,Las Vegas,972 Dorsy Manor,South Australia,70794,B−,1.97,79
3,Reuben,apophysis1957@outlook.com,2001-04-14 14:31:04.584263,Memphis,468 Cameron Plaza,Tasmania,51414,B+,1.68,86
5,Dalila,bombloads2068@live.com,2002-12-19 01:34:59.970603,Dayton,331 De Trail,Western Australia,58652,A−,1.78,43
7,Dallas,screechbird1821@yandex.com,2007-04-23 12:09:35.317966,West Haven,44 Gortnaskea Plaza,Queensland,79666,O−,1.6,47

In [ ]:
df_recovered.loc[[2]]

                name                   email  ... height weight
unique_code                                   ...
2            Evelynn  longlines1843@live.com  ...   1.78     55

[1 rows x 10 columns]

In [ ]:
df_recovered

                name                           email  ... height weight
unique_code                                           ...
1              Ronny  intracutaneously1812@yahoo.com  ...   1.97     79
3             Reuben       apophysis1957@outlook.com  ...   1.68     86
5             Dalila          bombloads2068@live.com  ...   1.78     43
7             Dallas      screechbird1821@yandex.com  ...   1.60     47
9            Genesis  displeasingness1944@yandex.com  ...   1.65     83
...              ...                             ...  ...    ...    ...
999991         Junko           barbara1933@gmail.com  ...   1.54     54
999993           Jin        anastasis1998@yandex.com  ...   1.61     73
999995       Sherise          giggled2033@yandex.com  ...   1.77     82
999997         Carey          subfusc1891@yandex.com  ...   1.68     76
999999         Lamar         pianograph1864@live.com  ...   1.81     39

[1000000 rows x 10 columns]